body{
    background-color: cornflowerblue;
}

.main {
    background: white;
    max-width: 820px;
    margin: auto;
    min-height: 650px;
}

canvas {
    border: 3px solid black;
    float: left;
    margin: 20px;
}

.options {
    display: inline-block;
    margin: 40px 20px;
    width: 230px;
    height: 250px;
}

input { 
    display: block;
    color: black;
    padding: 0px;
    margin: 10px 0px;
    font-size: 1em;
}

textarea {
    width: 210px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    background: aquamarine;
}

button {
    background: blue;
    padding: 3px 10px;
    display: inline-block;
    margin: 10px;
    color: white;
    border-radius: 5px;
    text-align: center;
}

footer{
    clear:left;
    text-align: center;
    margin: 30px;
}

footer a {
    text-decoration: none;
    color: azure;
}